*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

html, body, #root {
  background-color: #141414;
  height: 100%;
}

.container {
  padding: 0 4%;
}